/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/*mobile styles*/
.center {
  text-align: center;
  padding: 0px !important; }

.right {
  text-align: right;
  padding: 0px !important; }

.left {
  text-align: left;
  padding: 0px !important; }

.spacing {
  margin-top: 20px; }

footer {
  padding-bottom: 40px;
  padding-top: 40px;
  margin: 0 15px;
  text-align: center;
  font-size: 8px; }

p {
  font-size: 12px; }

body {
  color: #848484;
  font-family: "Raleway";
  font-weight: 400; }

header {
  padding-bottom: 15px;
  padding-top: 15px;
  color: #848484;
  border-bottom: thin solid #bdbdbd;
  text-align: center; }

a h1 {
  margin-top: 50px; }

h1 {
  font-family: "Bowlby One";
  font-size: 50px;
  color: #e5c100; }

header p {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 18px; }

.subheadText {
  margin-top: 45px;
  margin-bottom: 25px;
  font-weight: 400; }

h3 {
  font-size: 17px;
  margin-bottom: 10px; }

h4 {
  font-weight: 8px;
  margin-top: 20px;
  margin-bottom: 4px; }

.resumeSectionHeader {
  font-size: 20px; }

.sectionFont {
  color: #e5c100; }

.title {
  margin-top: 40px; }

p {
  margin-bottom: 10px; }

.aboutMeImage {
  width: 100%; }

.cvHeader {
  display: none; }

.employmentSpacing {
  margin-top: 25px; }

.italic {
  font-style: italic; }

article {
  width: 100%;
  margin-bottom: 20px; }

a {
  text-decoration: none;
  color: #848484; }

a:hover {
  color: #e5c100; }

.DesktopDisplay {
  display: none; }

.mobileDisplay {
  display: block; }

.tabletDisplay {
  display: none; }

.mobileDisplayImages {
  width: 100%; }

.mobileDisplay:hover {
  color: #e5c100; }

.email {
  float: left; }

.twitter {
  float: right; }

address {
  margin-bottom: 15px;
  font-size: 10px; }

.tabNavigation {
  display: inline-block;
  text-align: center;
  font-size: 8px; }

.drawingsSpacing {
  width: 37.5%; }

.infographicsSpacing {
  width: 30%; }

.photoEditsSpacing {
  width: 27.5%; }

.aboutMeSpacing {
  width: 5%; }

.lableNav {
  margin-bottom: 15px;
  margin-top: 15px; }

.sticky {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  border-top: 0; }

.caption {
  margin: 10px 0 50px; }

.leftJustify {
  text-align: left; }

.aboutMeText {
  color: #848484; }

@media (min-width: 305px) {
  .tabNavigation {
    font-size: 9.5px; } }
@media (min-width: 320px) {
  footer {
    font-size: 12px; } }
@media (min-width: 350px) {
  .tabNavigation {
    font-size: 10px; }

  footer {
    font-size: 14px; } }
@media (min-width: 445px) {
  .tabNavigation {
    font-size: 12px; }

  p {
    font-size: 14px; }

  address {
    font-size: 12px; } }
@media (min-width: 500px) {
  .tabNavigation {
    font-size: 14px; } }
@media (min-width: 650px) {
  p {
    font-size: 16px; }

  .tabletGroups {
    width: 100%;
    text-align: center;
    margin-bottom: 5%;
    margin-top: 5%; }

  .tabletGroups a {
    margin-right: 5%;
    margin-left: 5%; }

  .col-md-3, .col-md-12 {
    padding: 0 !important; }

  .aboutMeIntro {
    margin-top: 40px !important; }

  .cvHeader {
    display: block; } }

/*# sourceMappingURL=all.css.map */
