* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


/*mobile styles*/

.center {
  text-align: center;
  padding: 0px !important;
}

.right {
  text-align: right;
  padding: 0px !important;
}

.left {
  text-align: left;
  padding: 0px !important;
}

.spacing {
  margin-top: 20px;
}

footer {
  padding-bottom: 40px;
  padding-top: 40px;
  margin: 0 15px;
  text-align: center; 
  font-size: 8px;
}

p {
  font-size: 12px;
}

body {
  color: $dark-grey;
  font-family:"Raleway";
  font-weight: 400;
}


header {
  padding-bottom: 15px;
  padding-top: 15px;
  color: $dark-grey;
  border-bottom: thin solid $light-grey;
  text-align: center;
}

a h1 {
  margin-top:50px;
}

h1 {
  font-family: "Bowlby One";
  font-size: 50px;
  color: $hover;
}

 header p  {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 18px;
}


.subheadText {
  margin-top: 45px;
  margin-bottom: 25px;
  font-weight: 400;
}

h3 {
  font-size: 17px;
  margin-bottom: 10px;
}

h4 {
  font-weight: 8px;
  margin-top: 20px;
  margin-bottom: 4px;
}

.resumeSectionHeader {
  font-size: 20px;
}

.sectionFont {
  color: $hover;
}

.title {
 margin-top: 40px;
}

p {
  margin-bottom: 10px;

}

.aboutMeImage {
  width: 100%;
}

.cvHeader {
  display: none;
}

.employmentSpacing {
  margin-top: 25px;
}
  
.italic {
  font-style: italic;
}

article {
  width: 100%;
  margin-bottom: 20px;
}

a {
	text-decoration: none;
  color: $dark-grey;
}

a:hover { 
   color: $hover;
}

.DesktopDisplay {
  display:none;
}

.mobileDisplay {
  display: block;
}

.tabletDisplay {
  display: none;
}


.mobileDisplayImages {
  width: 100%;
 ;
}


.mobileDisplay:hover {

  

  color: $hover;
}



.email {
  float: left;
}
.twitter {
  float: right;
}

address {
  margin-bottom: 15px;
  font-size: 10px;
}

@media (min-width: 710px) {


}

.tabNavigation{
  display: inline-block;
  text-align: center;
  font-size: 8px;
}

.drawingsSpacing {
  width: 37.5%;
}

.infographicsSpacing {
  width: 30%;
}

.photoEditsSpacing {
  width: 27.5%;
}

.aboutMeSpacing {
  width: 5%;
}

.lableNav{
  margin-bottom: 15px;
  margin-top: 15px;
}

.sticky {  
    position: fixed;  
    width: 100%;  
    left: 0;  
    top: 0;  
    z-index: 100;  
    border-top: 0;  
} 

.caption {
  margin: 10px 0 50px;
}

.leftJustify {
  text-align: left;
}


.aboutMeText {
  color: #848484;
}

@media (min-width: 305px) {
  .tabNavigation{
    font-size: 9.5px;
  }
}

@media (min-width: 320px) {
  footer {
    font-size: 12px;  }
}

@media (min-width: 350px) {
  
  .tabNavigation{
    font-size: 10px;
  }

  footer {
    font-size: 14px;
  }
}






@media (min-width: 445px) {
  .tabNavigation{
    font-size:12px;
  }

  p {
    font-size: 14px;
  }

  address {
    font-size: 12px;
  }
}

@media (min-width: 500px) {
  .tabNavigation{
    font-size: 14px;
  }
}

@media (min-width: 650px) {
  p {
    font-size: 16px;
  }

  .tabletGroups {
    width: 100%;
    text-align: center;
    margin-bottom:   5%;
    margin-top:  5%;
  }

  .tabletGroups a {
    margin-right: 5%;
    margin-left: 5%;
  }

  .col-md-3, .col-md-12 {
    padding:0 !important;
  }

 .aboutMeIntro {
    margin-top: 40px !important;
 }

 .cvHeader {
    display: block;
 }
}

@media (min-width: 650px) and (max-width: 939px) {

}